{% extends 'layout.html.twig' %}

{% block title %}
  Mon Profil
{% endblock %}

{% block content %}
  <h2 class="profile">Mon Profil</h2>
  <section class="about-section">
    <div class="about-container">
      <div class="profile-content">
        <p>
          <strong>Nom d'utilisateur :</strong> {{ user.lastName }} {{ user.firstName }}
        </p>
        <p>
          <strong>Email :</strong> {{ user.email }}
        </p>
        <p>
          <strong>Date d'inscription :</strong> {{ user.createdAt|date('d/m/Y') }}
        </p>
        <p>
          <strong>Rôle :</strong> {{ user.roles|join(', ') }}
        </p>
      </div>
      <div class="about-image">
        <img src="{{ asset('images/about/Rectangle 49.png') }}" alt="About us image" />
      </div>
    </div>
  </section>
{% endblock %}
