{% extends 'layout.html.twig' %}

{% block title %}
  Mon Panier
{% endblock %}

{% block content %}
  <h1>Votre Panier</h1>

  <div class="cart-container">
    {% for item in items %}
      <div class="cart-item">
        <img src="{{ asset('images/produits/' ~ item.produit.image) }}" alt="{{ item.produit.nomProduit }}" class="cart-item-image" />
        <div class="cart-item-details">
          <h3>{{ item.produit.nomProduit }}</h3>
          <p>{{ item.produit.prix }}$ / each</p>

          <div class="cart-item-quantity">
            <form action="{{ path('cart_decrease', { id: item.produit.id }) }}" method="post" class="quantity-form">
              <button type="submit" class="quantity-button">-</button>
            </form>
            <span>{{ item.quantity }}</span>
            <form action="{{ path('cart_increase', { id: item.produit.id }) }}" method="post" class="quantity-form">
              <button type="submit" class="quantity-button">+</button>
            </form>
          </div>

          <p>Total price: {{ item.produit.prix * item.quantity }}$</p>
        </div>
        <a href="{{ path('cart_remove', { id: item.produit.id }) }}" class="cart-item-remove">&times;</a>
      </div>
    {% endfor %}
  </div>

  <div class="cart-total">
    <strong>Total: {{ total }}$</strong>
  </div>
  <div class="cart-buttons">
    <a href="#" class="cart-buy-button">Buy</a>
  </div>
{% endblock %}
