{% extends 'layout.html.twig' %}

{% block title %}
  Register
{% endblock %}

{% block content %}
  <div class="container mb-3">
    <h1>Register</h1>

    {{ form_start(registrationForm) }}

    {{ form_errors(registrationForm) }}

    <div class="form-row">
      {{ form_row(registrationForm.nom, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-row">
      {{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-row">
      {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-row">
      {{ form_row(registrationForm.plainPassword, {'label': 'Password', 'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-row">
      {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
    </div>
    <div class="button-wrapper">
      <button type="submit" class="btn buttonForm">Register</button>
    </div>
    
    {{ form_end(registrationForm) }}
  </div>
{% endblock %}