{% extends 'layout.html.twig' %}

{% block title %}
  liste des admins
{% endblock %}

{% block content %}
  <table id="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
        <th>Creation date</th>
      </tr>
    </thead>

    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.firstName}}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.roles|join(', ') }}</td>
          <td>{{ user.createdAt|date('d/m/Y') }}</td>
          <td>
            <a href="{{ path('update_admin', { id: user.id }) }}"><i class="fas fa-edit mx-1 text-primary"></i></a>
            <a href="{{ path('delete_admin', { id: user.id }) }}" onClick="return confirm('êtes vous sûr de vouloir supprimer le admin ?')"><i class="fas fa-trash mx-1 text-danger"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
