{% extends 'layout.html.twig' %}

{% block title %}
  {{ categorie.NomCategorie }} - Produits
{% endblock %}

{% block content %}
  <!-- banner section -->
  <section class="firstSection">
    <div>
      <h1 class="title">
        Fleurs,🌻<br />
        ce dont le monde a besoin
      </h1>
      <button class="browseBtn">Naviguer</button>
    </div>
    <div class="presentationImg">
      <img src="{{ asset('images/banner/Rectangle 3.png') }}" alt="flower" class="preImage" />
      <img src="{{ asset('images/banner/Rectangle 4.png') }}" alt="flower" class="preImage" />
      <img src="{{ asset('images/banner/Rectangle 5.png') }}" alt="flower" class="preImage" />
      <img src="{{ asset('images/banner/Rectangle 7.png') }}" alt="flower" class="preImage" />
      <img src="{{ asset('images/banner/Rectangle 26.png') }}" alt="flower" class="preImage" />
      <img src="{{ asset('images/banner/Rectangle 25.png') }}" alt="flower" class="preImage" />
    </div>
  </section>
  <!-- end of banner section -->
  <h1>{{ categorie.NomCategorie }}</h1>
  <div class="flex-container">
    {% for produit in produits %}
      <div class="flex-item">
        <a href="{{ path('app_produit_show', { id: produit.id }) }}">
          <img src="{{ asset('images/produits/' ~ produit.image) }}" alt="{{ produit.nomProduit }}" />
          <h3>{{ produit.nomProduit }}</h3>
        </a>
        <div class="prix-button">
          <p>{{ produit.prix }}$</p>
          <a href="{{ path('cart_add', {id: produit.id}) }}" class="add-to-cart"><i class="fa fa-shopping-cart icon" aria-hidden="true"></i> Add to cart</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
