{% extends 'layout.html.twig' %}

{% block title %}
  {{ produit.nomProduit }} - Product Details
{% endblock %}

{% block content %}
  <!-- product detail section -->
  <section class="product-detail">
    <div class="product-detail-container">
      <div class="product-image">
        <img src="{{ asset('images/produits/' ~ produit.image) }}" alt="{{ produit.nomProduit }}" />
      </div>
      <div class="product-info">
        <h2>{{ produit.nomProduit }}</h2>
        <p>{{ produit.description }}</p>
        <p>
          <strong>{{ produit.prix }}$ / each</strong>
        </p>
        <a href="#" class="add-to-cart-button">Add to cart</a>
      </div>
    </div>
  </section>

  <!-- other choices section -->
  <div class="line-text">Other choices</div>
  <!-- container for products -->
  <div class="flex-container">
    {% for produit in produits %}
      <div class="flex-item">
        <a href="{{ path('app_produit_show', { id: produit.id }) }}">
          <img src="{{ asset('images/produits/' ~ produit.image) }}" alt="{{ produit.nomProduit }}" />
          <h3>{{ produit.nomProduit }}</h3>
        </a>
        <div class="prix-button">
          <p>{{ produit.prix }}$</p>
          <a href="{{ path('cart_add', {id: produit.id}) }}" class="add-to-cart"><i class="fa fa-shopping-cart icon" aria-hidden="true"></i> Add to cart</a>
        </div>
      </div>
    {% endfor %}
  </div>
  <!-- end of product section -->
{% endblock %}
