{% extends 'layout.html.twig' %}

{% block title %}
  liste des produits admin
{% endblock %}

{% block content %}
  <table id="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Quantité</th>
        <th>Image</th>
        <th>Description</th>
        <th>Categorie</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      {% for produit in produits %}
        <tr>
          <td>{{ produit.nomProduit }}</td>
          <td>{{ produit.prix }}</td>
          <td>{{ produit.Stock }}</td>
          <td>
            <img class="imgform" src="{{ asset('images/produits/' ~ produit.image) }}" alt="{{ produit.nomProduit }}" />
          </td>
          <td>{{ produit.description }}</td>
          <td>{{ produit.categorie.NomCategorie }}</td>
          <td>
            <a href="{{ path('edit_produit', { id: produit.id }) }}"><i class="fas fa-edit mx-1 text-primary"></i></a>
            <a href="{{ path('delete_produit', { id: produit.id }) }}" onClick="return confirm('êtes vous sûr de vouloir supprimer le produit ?')"><i class="fas fa-trash mx-1 text-danger"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
