{% extends 'layout.html.twig' %}

{% block title %}
    Confirmation de Commande
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Confirmation de Commande</h1>

        <p>Merci pour votre commande ! Votre numéro de commande est <strong>{{ order.id }}</strong>.</p>
        <p>Votre commande sera prête pour le retrait le <strong>{{ order.pickUpDate|date('d/m/Y') }}</strong> à <strong>{{ order.pickUpDate|date('H:i') }}</strong>.</p>

        <h2>Détails de la Commande</h2>
        <ul>
            {% for item in order.productLines %}
                <li>
                    <strong>{{ item.product.name }}</strong> - Quantité : {{ item.quantity }} - Prix unitaire : {{ item.product.price }}€
                </li>
            {% endfor %}
        </ul>
        <p><strong>Total de la commande : {{ order.totalPrice }}€</strong></p>

        <a href="{{ path('app_home') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}
